{% extends 'base.html.twig' %}

{% block title %}
Too Cooleur-Adhesion
{% endblock %}

{% block body %}
<header id="hero">
	<h1 class="main-title">Adhesion-toocooleur.com</h1>
</header>
<main class="container">
	<ol class="breadcrumbs">
		<li>
			<a href="{{path('Home')}}">Accueil</a>
		</li>
		<li>Adhesion-toocooleur.com</li>
	</ol>
	<div class="adhesion">
			<iframe id="haWidget" allowtransparency="true" scrolling="auto" src="https://www.helloasso.com/associations/too-cooleur/adhesions/adhesion-classique/widget" style="width: 100%; height: 750px; border: none;" onload="window.scroll(0, this.offsetTop)"></iframe>
	</div>
</main>
{% endblock %}
