{% extends 'base.html.twig' %}

{% block title %}
 A propos
{% endblock %}

{% block body %}
<header id="hero">
	<h1 class="centre-titre">A propos</h1>		
</header>
<main class="container">
	<ol class="breadcrumbs">
		<li>
		<a href="{{path('Home')}}">Accueil</a>
		</li>
		<li>A propos</li>
	</ol>
	<p class="qui-somme-nous">
	Too Cooleur est une association française créée en 1999. Son nom est emprunté au Toucouleur du Sénégal.
	<br>
	Art et vivre ensemble. Inclusion et promotion des personnes handicapées en France et au Sénégal.
	</p>
</main>
{% endblock %}