{% extends 'base.html.twig' %}

{% block title %}
Equipe-Artiste
{% endblock %}

{% block body %}
<header id="hero">
	<h1 class="main-title">Artistes</h1>
</header>
<main class="container">
	<ol class="breadcrumbs">
		<li>
			<a href="{{path('Home')}}">Accueil</a>

		</li>
		<li>Equipe-Artistes</li>
	</ol>
	<div class="row">
		<div class="col-md-4">
			<div class="card" style="width: 20rem;">
				<img src="{{asset('/build/images/Equipe2/Pape Diouf.9a7126e9.png')}}" class="card-img-top" alt="Photo Pape Diouf Parrain Toocooleur">
				<div class="card-body">
					<h5 class="card-title">Pape Diouf</h5>
					<hr/>
					<p style="font-weight: bold;">Parrain<br>Too Cooleur</p>					
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
				<img src="{{asset('/build/images/Equipe/Ibou Ndiaye.9ca7f7dd.jpeg')}}" class="card-img-top" alt="Photo Ibou N'diaye Instrumentitste Toocooleur">				
				<div class="card-body">
					<h5 class="card-title">Ibou N'Diaye</h5>
					<hr/>
					<p style="font-weight: bold;">Instrumentiste
					</p>		
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card" style="width: 20rem; height:31rem;">
				<img src="{{asset('/build/images/Equipe/Mohamed Gueye.370a6da7.jpg')}}" class="card-img-top" alt="Photo Mohamed Gueye Chanteur Toocooleur">				
				<div class="card-body">
					<h5 class="card-title card-title-mohadmed">Mohadmed Gueye</h5>
					<hr/ class="hr-mohadmed">
					<p style="font-weight: bold;padding-top:10px;">Chanteur</p>				
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="card" style="width: 20rem;">
				<img src="{{asset('/build/images/Equipe2/Yoro Lidel Niang.823cc515.png')}}" class="card-img-top" alt="Photo Yoro Lidel Niang Réalisateur">
				<div class="card-body">
					<h5 class="card-title">Yoro Lidel Niang</h5>
					<hr/>
					<p style="font-weight: bold;">Réalisateur</p>

				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card" style="width: 16rem;">
				<img src="{{asset('/build/images/Equipe2/Babacar Ndiaye.b41ffe75.png')}}" class="card-img-top" alt="Photo Babacar Ndiaye Muscien">
				<div class="card-body">
					<h5 class="card-title">Babacar Ndiaye</h5>
					<hr/>
					<p style="font-weight: bold;">Musicien</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<p>Un hommage à nos artistes disparues</p>
		<div class="col-md-4">
			<div class="card" style="width: 20rem;">
				<img src="{{asset('/build/images/Equipe2/Moustique Ndiaye.d96821fa.png')}}" class="card-img-top" alt="Photo Moustique N'Diaye Chanteur Traditionnel">
				<div class="card-body">
					<h5 class="card-title">Moustique N'Diaye</h5>
					<hr/>
					<p style="font-weight: bold;">Chanteur Traditionnel</p>
				</div>
			</div>
		</div>
	</div>
</main>	
{% endblock %}