{% extends 'base.html.twig' %}

{% block title %}
Equipe-Bureau
{% endblock %}

{% block body %}
<header id="hero">
	<h1 class="main-title">Equipe bureau toocooleur</h1>
</header>
<main class="container">
	<ol class="breadcrumbs">
		<li>
			<a href="{{path('Home')}}">Accueil</a>

		</li>
		<li>Equipe-bureau toocooleur</li>
	</ol>
	<div class="row">
		<div class="col-md-4">
			<div class="card" style="width: 20rem;">
				<img src="{{asset('/build/images/Equipe2/Rachel-Fusier.b1c1758d.png')}}" class="card-img-top" alt="Photo Rachel Fusier Présidente">
				<div class="card-body">
					<h5 class="card-title">Rachel Fusier</h5>
					<hr/>
					<p style="font-weight: bold;">Présidente<br>Too Cooleur</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card" style="width: 15rem;">
				<img src="{{asset('/build/images/Equipe/Myriam Berger.a4a27354.jpeg')}}" class="card-img-top" alt="Photo Myriam Berger Secretaire">
				<div class="card-body">
					<h5 class="card-title">Myriam Berger</h5>
					<hr/>
					<p style="font-weight: bold;">Secrétaire<br>Too Cooleur</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card" style="width: 16rem;">
				<img src="{{asset('/build/images/Equipe2/Abdoulaye Seydi .d5fcc8bd.png')}}" class="card-img-top" alt="Photo Abdoulaye Seydi">
				<div class="card-body">
					<h5 class="card-title">Abdoulaye Seydi</h5>
					<hr/>
					<p style="font-weight: bold;">Vice Secrétaire <br> Too Cooleur</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="card" style="width: 15rem;">
				<img src="{{asset('/build/images/Equipe2/Murielle-Gaillard.77926f99.png')}}" class="card-img-top" alt="Photo Murielle Gaillard Tresoriere">
				<div class="card-body">
					<h5 class="card-title">Murielle Gaillard</h5>
					<hr/>
					<p style="font-weight: bold;">Trésorière <br> Too Cooleur</p>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}