{% extends 'base.html.twig' %}

{% block title %}
Equipe-Benevole Actif
{% endblock %}

{% block body %}
<header id="hero">
	<h1 class="main-title">Equipe-Bénévoles</h1>
</header>
<main class="container">
	<ol class="breadcrumbs">
		<li>
			<a href="{{path('Home')}}">Accueil</a>

		</li>
		<li>Equipe-Bénévoles</li>
	</ol>
	<div class="row">	
		<div class="col-md-4">
			<div class="card" style="width: 17rem;">
				<img src="{{asset('/build/images/Equipe2/Stella.fc39036f.png')}}" class="card-img-top" alt="Photo Stella">
				<div class="card-body">
					<h5 class="card-title">Stella</h5>					
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card" style="width: 19rem;">
				<img src="{{asset('/build/images/Equipe2/Toscane.16d54e4a.png')}}" class="card-img-top" alt="Photo Toscane">
				<div class="card-body">
					<h5 class="card-title">Toscane</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
				<img src="{{asset('/build/images/Equipe2/Amadou Bocoum.34eb1a60.png')}}" class="card-img-top" alt="Photo Amadou Bocoum">
				<div class="card-body">
					<h5 class="card-title">Amadou Bocoum</h5>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card" style="width: 15rem;">
				<img src="{{asset('/build/images/Equipe2/Justine-Soler.0c24151c.png')}}" class="card-img-top" alt="Photo Justine">
				<div class="card-body">
					<h5 class="card-title">Justine Soler</h5>
					<hr/>
					<p style="font-weight: bold;">Communication</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card" style="width: 20rem;">
				<img src="{{asset('/build/images/Equipe2/Vianney-Sergent.6365ca98.png')}}" class="card-img-top" alt="Photo Vianney Sergent Développeur web">
				<div class="card-body">
					<h5 class="card-title">Vianney Sergent</h5>
					<hr/>
					<p style="font-weight: bold;">Développeur web</p>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}