{% extends 'base.html.twig' %}

{% block title %}Evènements Too Cooleur{% endblock %}

{% block body %}
<header id="hero">
	<h1 class="main-title">Evénement</h1>
</header>
<main class="container">
    <ol class="breadcrumbs">
        <li>
            <a href="{{path('Home')}}">Accueil</a>

        </li>
        <li>Evénement</li>
    </ol>
    <div id="calendrier"></div>
</main>

{% endblock %}
{% block javascripts %}
<script>
  window.onload = () => {
        let calendarElt = document.querySelector("#calendrier")
        
        let calendar = new FullCalendar.Calendar(calendarElt, {
            initialView: 'timeGridWeek',
            locale: 'fr',           
            timeZone: 'Europe/Paris',
            headerToolbar: {
                start: 'prev,next today',
                center: 'title',
                end: 'dayGridMonth,timeGridWeek'
            },      
           
            handleWindowResize: true,
            contentHeight: 600,

            events: {{ data|raw }},
            editable: true,
            eventResizableFromStart: true
        })
        calendar.on('eventChange', (e) => {
            let url = `Administrateur/api/${e.event.id}/edit`
            let donnees = {
                "title": e.event.title,
                "description": e.event.extendedProps.description,                
                "start": e.event.start,
                "end": e.event.end,
                "allDay": e.event.allDay
            }

            let xhr = new XMLHttpRequest
            xhr.open("PUT", url)
            xhr.send(JSON.stringify(donnees))
        })
        calendar.render() 
    } 
</script>
{% endblock %}
