{% extends 'base_sans_nav.html.twig' %}
{% block title %}Connexion{% endblock %}
{% block body %}
<header id="hero">
	<h1 class="main-title">Connexion</h1>
</header>
<main class="container">
    <form action="{{ path('login') }}" method="post">
        <fieldset>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <input class="input-connexion" data-default-value data-val="true" data-val-maxlength="L'adresse email ne doit pas dépasser 60 caractères." data-val-maxlength-max="60" data-val-regex:"veuillez entrer un email valide" data-val-regex-pattern="^([\w.+-]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([\w-]+\.)+[a-zA-Z]{2,}))$" data-val-required="Vous devez indiquer votre adresse email" id="email" name="email" placeholder="Votre email" type="email">
        </fieldset>
        <fieldset>
            <input class="input-connexion" data-val="true" data-val-regex="Une suite de caractères invalide est présente dans ce mot de passe." data-val-regex-patterne='(?!")((?!&#|<[a-zA-Z!\/?]).)*' data-val-required="Vous devez indiquer un mot de passe." placeholder="Votre mot de passe" id="Password" name="password" type="password">
        </fieldset>  
        <fieldset>
            <p>
                <a href="{{path('forgot_password')}}">Mot de passe oublié ?</a>
            </p>            
        </fieldset>
       
        <button type="submit" class="btn btn-success login">Connexion</button>
        <p>
            Je n'ai pas encore de compte et je souhaite m'<a class="button" href="{{ path('register') }}">inscrire</a>
        </p>
    </form>       
</main>
{% endblock %}
