{% extends 'base.html.twig' %}

{% block title %}Changement mot de passe{% endblock %}

{% block body %}
<section id="index-page" class="container-fluid ">
	<section class="container index index-mobiles">
		<header class="row">
			<div class="col-12 index-page index-page-mobile">
                <h1 class="equipe">Changement mot de passe </h1>
			</div>
		</header>
		<div class="row">
			<div class="col-12">
				{{form(emailForm)}}
			</div>
		</div>
	</section>
</section>
{% endblock %}
