{% extends 'base.html.twig' %}

{% block title %}Accueil-Calendrier{% endblock %}

{% block body %}
<header id="hero">
    <h1>Accueil-Calendrier</h1>
</header>
<main class="container">
    <ol class="breadcrumbs">
        <li>
            <a href="{{path('administrator-dashboard')}}">Accueil tableau de bord</a>
        </li>
        <li>Article-Calendrier</li>
    </ol>
    <a href="{{ path('calendar_new')}}" class="btn btn-light utilisateur">Nouvel Evenement</a>
    <table class="table table-utilisateurs" data-toggle="table" data-pagination="true" data-page-size="5">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Description</th>
                <th>Toute la journée</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for evenement in evenements %}

                <tr>
                    <td data-label="Titre">{{ evenement.title }}</td>
                    <td data-label="Date début">{{ evenement.start ? evenement.start|date('Y-m-d H:i:s') : '' }}</td>
                    <td data-label="Date fin">{{ evenement.end ? evenement.end|date('Y-m-d H:i:s') : '' }}</td>
                    <td data-label="Description">{{ evenement.description }}</td>
                    <td data-label="Journée">{{ evenement.allDay ? 'Yes' : 'No' }}</td>
                    <td data-label="Actions" class="action">
                        <button onclick="window.location.href='{{ path('calendar_show', {'id': evenement.id}) }}';" type="button" class="btn btn-success" title="show-article">test</button>
                        <button onclick="window.location.href='{{ path('calendar_edit', {'id': evenement.id}) }}';" type="button" class="btn btn-success" title="show-article">Edit</button>
                        {{ include('administrator/calendar/delete_form_calendar.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">Pas d'évenement trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}