{% extends 'base.html.twig' %}

{% block title %}Edition Calendrier{% endblock %}

{% block body %}
<header id="hero">
	<h1>Edition-Calendrier</h1>
</header>
<main class="container">
    <ol class="breadcrumbs">
        <li>
            <a href="{{path('administrator-dashboard')}}">Accueil tableau de bord</a>
        </li>
        <li>
            <a href="{{path('calendar_index')}}">Gestion calendrier</a>
        </li>
        <li>Calendrier Edition</li>
    </ol>
    <a href="{{ path('calendar_index')}}" class="btn btn-primary">Retour à la liste</a>
    <div class="btn-2">
    {{ include('administrator/calendar/calendar_form.html.twig', {'button_label': 'Mise à jour'}) }}
    {{ include('administrator/calendar/delete_form_calendar.html.twig') }}
</main>
{% endblock %}
