{% extends 'base.html.twig' %}

{% block title %}Nouvel Evènement{% endblock %}

{% block body %}
<header id="hero">
	<h1>Nouvel-Evènement</h1>
</header>
<main class="container">
    <ol class="breadcrumbs">
        <li>
            <a href="{{path('administrator-dashboard')}}">Accueil tableau de bord</a>
        </li>
        <li>
            <a href="{{path('calendar_index')}}">Gestion calendrier</a>
        </li>
        <li>Calendrier-Ajout Evenement</li>
    </ol>
    <a href="{{ path('calendar_index')}}" class="btn btn-primary">Retour à la liste</a>
    {{ include('administrator/calendar/calendar_form.html.twig') }}
</main>
{% endblock %}
