{% extends 'base.html.twig' %}

{% block title %}Aperçu Calendrier{% endblock %}

{% block body %}
<header id="hero">
    <h1>Aperçu Calendrier</h1>
</header>
<main class="container">
    <ol class="breadcrumbs">
        <li>
            <a href="{{path('administrator-dashboard')}}">Accueil tableau de bord</a>
        </li>
        <li>
            <a href="{{path('calendar_index')}}">Gestion calendrier</a>
        </li>
        <li>Calendrier-Aperçu Evenement</li>
    </ol>
    <a href="{{ path('calendar_index')}}" class="btn btn-primary">Retour à la liste</a>
    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ evenement.title }}</td>
            </tr>
            <tr>
                <th>Date Début</th>
                <td>{{ evenement.start ? evenement.start|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date fin</th>
                <td>{{ evenement.end ? evenement.end|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ evenement.description }}</td>
            </tr>
            <tr>
                <th>Toute la journée</th>
                <td>{{ evenement.allDay ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('calendar_edit', {'id': evenement.id}) }}">édition</a>
    {{ include('administrator/calendar/delete_form_calendar.html.twig') }}
</main>
{% endblock %}