{% extends 'base.html.twig' %}

{% block title %}Accueil Too Cooleur{% endblock %}

{% block body %}
<header id="header-hero" class="home">
		<img src="{{asset('/build/images/Accueil/nouveau-logo.593931e0.png')}}" alt="logo-toocooleur">
</header>
<main class="container">
	<section>
		<h1 class="main-title my2 actualites">Actualités de l'association</h1>			
		<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				{% for article in articles %}
				<div {% if loop.index0 == 0 %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}>				
					<img  class="d-block  articles-images" src="{{vich_uploader_asset(article,'imageFile') }}" alt="{{article.titre}}"/>					
					<div class="carousel-caption d-md-block text-dark">
						<h5 class="card-title">{{article.titre}}</h5>
						<p class="card-text sergent">{{ article.description|truncate(50)|raw}}</p>
						<button class="btn btn-light lire-la-suite-carousel" onclick="window.location.href='{{ path('article_show_user', {'id': article.id}) }}';">Lire la suite</button>
					</div>					
				</div>
				{% endfor %}
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>	
	</section>
</main>
{% endblock %}