<form method="post" action="{{ path('gallery_delete', {'id': galerie.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ galerie.id) }}">
    <button class="btn btn-danger"><i class="far fa-trash-alt"></i></button>    
</form>
