{% extends 'base.html.twig' %}

{% block title %}Edition Média{% endblock %}

{% block body %}
<header id="hero">
    <h1>Accueil-Edition Média</h1>
</header>
<main class="container">
    <ol class="breadcrumbs">
        <li>
            <a href="{{path('administrator-dashboard')}}">Accueil tableau de bord</a>
        </li>
        <li>
        <a href="{{path('gallery_index')}}">Accueil-Gestion gallerie</a>
        </li>
        <li>Edition gallerie</li>
    </ol>
    <a href="{{ path('gallery_index')}}" class="btn btn-primary">Retour à la liste</a>
    {{ include('administrator/gallery/gallery_form.html.twig', {'button_label': 'Mise à jour'}) }}
    {{ include('administrator/gallery/delete_form_gallery.html.twig') }}</div>
</main>
{% endblock %}