{% extends 'base.html.twig' %}

{% block title %}Gestion Galerie{% endblock %}

{% block body %}
<header id="hero">
	<h1>Accueil-Gestion gallerie</h1>
</header>
<main class="container">
    <ol class="breadcrumbs">
        <li>
            <a href="{{path('administrator-dashboard')}}">Accueil tableau de bord</a>
        </li>
        <li>Accueil-Gestion gallerie</li>
    </ol>
    <a href="{{ path('gallery_new')}}" class="btn btn-light utilisateur">Ajout d'un média</a>
    <table class="table table-utilisateurs" data-toggle="table" data-pagination="true" data-page-size="5">
        <thead>
            <tr>
                <th>Date de publication</th>
                <th>YoutubeUrl</th>
                <th>Images Galerie</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for galerie in galeries %}
                <tr>
                    <td data-label="Date publication">{{ galerie.DatePublication ? galerie.DatePublication|date('Y-m-d H:i:s') : '' }}</td>
                    <td data-label="Youtube Url">{{ galerie.youtubeUrl }}</td>
                    <td data-label="Images">{{ galerie.imagesGalerie }}</td>
                    <td data-label="Images">{{ galerie.description }}</td>
                    <td data-label="Actions" class="action">
                        <a class="btn btn-success" href="{{ path('gallery_show', {'id': galerie.id}) }}">
                            <i class="fas fa-eye"></i>
                        </a>
                        <a class="btn btn-success" href="{{ path('gallery_edit', {'id': galerie.id}) }}">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Pas de média enregistré</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}