{% extends 'base.html.twig' %}

{% block title %}Nouveau média{% endblock %}

{% block body %}
<header id="hero">
    <h1>Accueil-Nouveau média</h1>
</header>
<main class="container">
    <ol class="breadcrumbs">
        <li>
            <a href="{{path('administrator-dashboard')}}">Accueil tableau de bord</a>
        </li>
        <li>
            <a href="{{path('gallery_index')}}">Accueil-Gestion gallerie</a>
        </li>
        <li>Accueil-Nouveau média</li>
    </ol>
    <a href="{{ path('gallery_index')}}" class="btn btn-primary">Retour à la liste</a>
    {{ include('administrator/gallery/gallery_form.html.twig') }}
</main>
{% endblock %}