{% extends 'base.html.twig' %}

{% block title %}Aperçu média{% endblock %}

{% block body %}
<header id="hero">
    <h1>Accueil-Aperçu média</h1>
</header>
<main class="container">
    <ol class="breadcrumbs">
        <li>
            <a href="{{path('administrator-dashboard')}}">Accueil tableau de bord</a>
        </li>
        <li>
            <a href="{{path('gallery_index')}}">Accueil-Gestion gallerie</a>
        </li>
        <li>Accueil-Aperçu média</li>
    </ol>
    <a href="{{ path('gallery_index')}}" class="btn btn-primary">Retour à la liste</a>

    <table class="table">
        <tbody>
            <tr>
                <th>Date de publication</th>
                <td>{{ galerie.DatePublication ? galerie.DatePublication|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>YoutubeUrl</th>
                <td>{{ galerie.youtubeUrl }}</td>
            </tr>
            <tr>
                <th>Images Galerie</th>
                <td>{{ galerie.imagesGalerie }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('gallery_edit', {'id': galerie.id}) }}">Edition</a>

    {{ include('administrator/gallery/delete_form_gallery.html.twig') }}
</main>

{% endblock %}