{% extends 'base.html.twig' %}
{% block title %}Inscription
{% endblock %}
{% block body %}
<header id="hero">
	<h1 class="main-title">Inscription</h1>
</header>
<main class="container">
	<p>Les champs dotés d'une étoile sont obligatoires</p>
	{{ form_start(registrationForm) }}
		<h2>Vos identifiants</h2>
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.username) }}
		{{ form_row(registrationForm.plainPassword) }}
		<h2 class="nouvel-utilisateur">	Vos informations personnelles :</h2>
		{{ form_row(registrationForm.prenom) }}
		{{ form_row(registrationForm.nom) }}
		{{ form_row(registrationForm.adresse) }}
		{{ form_row(registrationForm.complement_adresse) }}
		{{ form_row(registrationForm.code_postal) }}
		{{ form_row(registrationForm.ville) }}
		{# {{ form_row(registrationForm.pays) }} #}
		{{ form_row(registrationForm.telephone) }}
		{{ form_row(registrationForm.validation_inscription) }}
		<button type="submit" class="btn-sumbmit-form-register btn btn-success login">Valider</button>
		{{ form_end(registrationForm) }}
</main>
{% endblock %}