{% extends 'base.html.twig' %}

{% block title %}
Partenaires associatifs
{% endblock %}

{% block body %}
<header id="hero">
	<h1 class="main-title">Partenaires associatifs</h1>
</header>
<main class="container">
	<ol class="breadcrumbs">
		<li>
			<a href="{{path('Home')}}">Accueil</a>

		</li>
		<li>Partenaire associatif</li>
	</ol>
	<div class="row">
		<div class="col-md-4">		
				<div class="card" style="width: 18rem;">
					<img src="{{asset('/build/images/Logo/logo-Clef_de_chantemerle.83b51a4c.png')}}" class="card-img-top" alt="Logo Chantemerle">
					<div class="card-body">
						<p class="card-text">La Clef de Chantemerle</p>
					</div>
				</div>
		</div>
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
				<img src="{{asset('/build/images//Logo/Logo-Posse_33.f4b3bf73.png')}}" class="card-img-top" alt="Logo Posse 33">
				<div class="card-body">
					<p class="card-text">Posse 33</p>
				</div>
			</div>
		</div>	
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
				<img src="{{asset('/build/images//Logo/Jaaraf production.b21c404f.jpeg')}}" class="card-img-top" alt="Logo Jaaraf Production">
				<div class="card-body">
					<p class="card-text">Jaaraf Production</p>
				</div>
			</div>
		</div>					
	</div>		
</main> 
{% endblock %}
