{% extends 'base.html.twig' %}

{% block title %}
Partenaires financiers
{% endblock %}

{% block body %}
<header id="hero">
	<h1 class="main-title">Partenaires financiers</h1>
</header>
<main class="container">
	<ol class="breadcrumbs">
		<li>
			<a href="{{path('Home')}}">Accueil</a>

		</li>
		<li>Partenaire financier</li>
	</ol>
	<div class="row">
		<div class="col-md-3">
			<div class="card" style="width: 18rem;">
				<img src="{{asset('/build/images/Logo/Logo_De╠üpartement_Savoie.cd547f7a.png')}}" class="card-img-top" alt="Logo département de la Savoie">
				<div class="card-body">
					<p class="card-text">Département de la Savoie</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card" style="width: 18rem;">
				<img src="{{asset('/build/images/Logo/logo-resacoop.c70979ca.png')}}" class=" resacoop card-img-top responsive" alt="Logo Resacoop">
				<div class="card-body">
					<p class=" resacoop-text card-text">Resacoop</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card" style="width: 18rem;">
				<img src="{{asset('/build/images/Logo/Marie de Chambe╠üry.533b98ed.jpg')}}" class="card-img-top responsive" alt="Logo Marie de Chambéry">
				<div class="card-body">
					<p class="card-text">Mairie de Chambéry</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card" style="width: 18rem;">
				<img src="{{asset('/build/images/Logo/Pays de Savoie Solidaire.e8ddc7ac.jpg')}}" class="card-img-top responsive" alt="Logo Pays de Savoie Solidaire">
				<div class="card-body">
					<p class="card-text">Pays de Savoie Solidaire</p>
				</div>
			</div>
		</div>
	</div>
	{# <div class="row">
		<div class="col-md-3">
			<div class="card" style="width: 18rem;">
				<img src="{{asset('/build/images/Logo/Pays de Savoie Solidaire.e8ddc7ac.jpg')}}" class="card-img-top responsive" alt="Logo Pays de Savoie Solidaire">
				<div class="card-body">
					<p class="card-text">Pays de Savoie Solidaire</p>
				</div>
			</div>
		</div>
	</div> #}
</main>
{% endblock %}
