{% extends 'base.html.twig' %}

{% block title %}
Partenaires Institutionel
{% endblock %}

{% block body %}
<header id="hero">
	<h1 class="main-title">Partenaires institutionels</h1>
</header>
<main class="container">
    <ol class="breadcrumbs">
        <li>
            <a href="{{path('Home')}}">Accueil</a>

        </li>
        <li>Partenaire institutionels</li>
    </ol>
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{{asset('/build/images/Logo/logo-apei_chambery.b43c503c.png')}}" class="card-img-top" alt="Logo Apei Chambéry">
                <div class="card-body">
                    <p class="card-text">APEI Chambéry</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card " style="width: 18rem;">
                <img src="{{asset('/build/images/Logo/Logo-Kosmopolite_danse.953df33d.png')}}" class="card-img-top responsive" alt="Logo Kosmopolite Danse">
                <div class="card-body">
                    <p class="card-text">Kosmopolite Danse</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="{{asset('/build/images/Logo/Mairie aix les bains.2d9ed324.png')}}" class="card-img-top responsive" alt="Logo Marie d'aix les bains">
            <div class="card-body">
                <p class="card-text">Mairie d'aix les bains</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{{asset('/build/images/Logo/logo_archesycomore.5e18130d.png')}}" class="card-img-top responsive" alt="Logo Arche Sycomore">
                <div class="card-body">
                    <p class="card-text">Arche Sycomore</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{{asset('/build/images/Logo/APF-France-handicap.78916c28.jpg')}}" class="card-img-top responsive" alt="Logo APF">
                <div class="card-body">
                    <p class="card-text">APF</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{{asset('/build/images/Logo/Apajh.a763e501.jpg')}}" class="card-img-top responsive" alt="Logo Apajh">
                <div class="card-body">
                    <p class="card-text">Apajh</p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}