{% extends 'base.html.twig' %}

{% block title %}
Partenaires financiers
{% endblock %}

{% block body %}
<header id="hero">
	<h1 class="main-title">Partenaires internationiaux</h1>
</header>
<main class="container">
	<ol class="breadcrumbs">
		<li>
			<a href="{{path('Home')}}">Accueil</a>

		</li>
		<li>Partenaire internationaux</li>
	</ol>
	<div class="row">
	</div>
</main>
{% endblock %}
