{% extends 'base.html.twig' %}

{% block title %}Accueil-article gestion {% endblock %}

{% block body %}
<header id="hero">
    <h1>Accueil-articles gestion</h1>
</header>
<main class="container">
    <ol class="breadcrumbs">
        <li>
            <a href="{{path('administrator-dashboard')}}">Accueil tableau de bord</a>
        </li>
        <li>Article Gestion</li>
    </ol>
    <a href="{{ path('article_new')}}" class="btn btn-light utilisateur">Nouvel article</a>
        <table class="table table-utilisateurs" data-toggle="table" data-pagination="true" data-page-size="5">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Date de publication</th>
                    <th>Article Images</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                    <tr>
                        <td data-label="Titre">{{ article.Titre }}</td>
                        <td data-label="description">{{ article.description|raw }}</td>
                        <td data-label="Date Publication">{{ article.DateDePublication ? article.DateDePublication|date('Y-m-d') : '' }}</td>
                        <td data-label="Images Article"><img class="thumbnail-article" src="{{vich_uploader_asset(article,'imageFile') }}" alt="{{article.titre}}"/></td>                        
                        <td data-label="Actions" class="action">
                            <a href="{{ path('article_show', {'id': article.id}) }}" class="btn btn-success"><i class="fas fa-eye"></i></a>
                            <a href="{{ path('article_edit', {'id': article.id}) }}" class="btn btn-success"><i class="fas fa-edit"></i></a>
                            {{ include('administrator/article/delete_form_article.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">Pas d'article trouvé</td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>
</main>
{% endblock %}