<form method="post" action="{{ path('article_delete', {'id': article.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    <button class="btn btn-danger">	<i class="far fa-trash-alt"></i></button>   
</form>
