{% extends 'base.html.twig' %}

{% block title %}Article Edition{% endblock %}

{% block body %}
<header id="hero">
    <h1>Article Edition</h1>
</header>
<main class="container">
    <ol class="breadcrumbs">
        <li>
            <a href="{{path('administrator-dashboard')}}">Accueil tableau de bord</a>
        </li>
        <li>
            <a href="{{path('article_index')}}">Gestion Article</a>
        </li>
        <li>Article Edition</li>
    </ol>
    <a href="{{ path('article_index')}}" class="btn btn-primary">Retour à la liste</a>
    {{ include('administrator/article/article_form.html.twig', {'button_label': 'Mise à jour'}) }}
    {{ include('administrator/article/delete_form_article.html.twig') }}
</main>
{% endblock %}