{% extends 'base.html.twig' %}

{% block title %}Nouvel Article{% endblock %}

{% block body %}
<header id="hero">
    <h1>Nouvel article</h1>
</header>
<main class="container">
    <ol class="breadcrumbs">
        <li>
            <a href="{{path('administrator-dashboard')}}">Accueil tableau de bord</a>
        </li>
        <li>
            <a href="{{path('article_index')}}">Gestion Article</a>
        </li>
        <li>Nouvel Article</li>
    </ol>
    <a href="{{ path('article_index')}}" class="btn btn-primary">Retour à la liste</a>
    {{ include('administrator/article/article_form.html.twig') }}
</main>
{% endblock %}