{% extends 'base.html.twig' %}

{% block title %}Aperçu Article{% endblock %}

{% block body %}
<header id="hero">
    <h1>Aperçu d'un article</h1>
</header>
<main class="container">
    <ol class="breadcrumbs">
        <li>
            <a href="{{path('administrator-dashboard')}}">Accueil tableau de bord</a>
        </li>
        <li>
            <a href="{{path('article_index')}}">Gestion Article</a>
        </li>
        <li>Aperçu Article</li>
    </ol>
    <a href="{{ path('article_index')}}" class="btn btn-primary">Retour à la liste</a>
    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ article.Titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ article.description }}</td>
            </tr>
            <tr>
                <th>Date de publication</th>
                <td>{{ article.DateDePublication ? article.DateDePublication|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Image Article</th>
                <td>{{ article.imagesArticle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('article_edit', {'id': article.id}) }}">edition</a>

    {{ include('administrator/article/delete_form_article.html.twig') }}
</main>
{% endblock %}