{% extends 'base.html.twig' %}

{% block title %}Gestion Pays{% endblock %}

{% block body %}
<header id="hero">
    <h1>Accueil-Gestion Pays</h1>
</header>
<main class="container">
    <ol class="breadcrumbs">
        <li>
            <a href="{{path('administrator-dashboard')}}">Accueil tableau de bord</a>
        </li>
        <li>Accueil-Gestion pays</li>
    </ol>
    <a href="{{ path('country_new')}}" class="btn btn-light utilisateur">Nouveau pays</a>
    <table class="table table-utilisateurs" data-toggle="table" data-pagination="true" data-page-size="5">
        <thead>
            <tr>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for pay in pays %}
                <tr>
                    <td data-label="Pays">{{ pay.nom }}</td>
                    <td data-label="Actions" class="action">
                        <a class="btn btn-success" href="{{ path('country_show', {'id': pay.id}) }}">
                            <i class="fas fa-eye"></i>
                        </a>
                        <a class="btn btn-success" href="{{ path('country_edit', {'id': pay.id}) }}">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Pas de pays trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}