<form method="post" action="{{ path('country_delete', {'id': pay.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pay.id) }}">
    <button class="btn btn-danger">	<i class="far fa-trash-alt"></i></button>    
</form>
