{% extends 'base.html.twig' %}

{% block title %}Edition pays{% endblock %}

{% block body %}
<header id="hero">
    <h1>Edition pays</h1>
</header>
<main class="container">
    <ol class="breadcrumbs">
        <li>
            <a href="{{path('administrator-dashboard')}}">Accueil tableau de bord</a>
        </li>
        <li>
        <a href="{{path('country_index')}}">Accueil-Gestion pays</a>
        </li>
        <li>Edition pays</li>
    </ol>
    <a href="{{ path('country_index')}}" class="btn btn-primary">Retour à la liste</a>
    {{ include('administrator/country/country_form.html.twig', {'button_label': 'Mise à jour'}) }}
    {{ include('administrator/country/delete_form_country.html.twig') }}
</main>
{% endblock %}