{% extends 'base.html.twig' %}

{% block title %}Aperçu Pays{% endblock %}

{% block body %}
<header id="hero">
    <h1>Aperçu Pays</h1>
</header>
<main class="container">
    <ol class="breadcrumbs">
        <li>
            <a href="{{path('administrator-dashboard')}}">Accueil tableau de bord</a>
        </li>
        <li>
            <a href="{{path('country_index')}}">Accueil-Gestion pays</a>
        </li>
        <li>Aperçu pays</li>
    </ol>
    <a href="{{ path('country_index')}}" class="btn btn-primary">Retour à la liste</a>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ pay.nom }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('country_edit', {'id': pay.id}) }}">Edition</a>
    {{ include('administrator/country/delete_form_country.html.twig') }}
</main>
{% endblock %}