{% extends 'base.html.twig' %}

{% block title %}Accueil-Catégorie-Article-Presse{% endblock %}

{% block body %}
<header id="hero">
    <h1>Accueil-Catégorie-Article-Presse</h1>
</header>
<main class="container">
    <ol class="breadcrumbs">
        <li>
            <a href="{{path('administrator-dashboard')}}">Accueil tableau de bord</a>
        </li>
        <li>Accueil-Catégorie gestion article</li>
    </ol>
    <a href="{{ path('category_article_new')}}" class="btn btn-light utilisateur">Nouvelle Catégorie Article presse</a>
    <table class="table table-utilisateurs" data-toggle="table" data-pagination="true" data-page-size="5">
        <thead>
            <tr>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for categorie_article in categorie_articles %}
                <tr>
                    <td data-label="Nom">{{ categorie_article.Nom }}</td>
                    <td data-label="Actions" class="action">
                        <button onclick="window.location.href='{{ path('category_article_show', {'id': categorie_article.id}) }}';" type="button" class="btn btn-success btn-edit" title="show-article">
                            <i class="fas fa-eye"></i>
                        </button>
                        <button onclick="window.location.href='{{ path('category_article_edit', {'id': categorie_article.id}) }}';" type="button" class="btn btn-success btn-edit" title="show-article">
                            <i class="fas fa-edit"></i>
                        </button>
                        {{ include('administrator/category_article/delete_form_category_article.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Pas de catégorie article trouvée</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}