<form method="post" action="{{ path('category_article_delete', {'id': categorie_article.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie_article.id) }}">
    <button class="btn btn-danger">	<i class="far fa-trash-alt"></i></button>    
</form>
