{% extends 'base.html.twig' %}

{% block title %}Edition catégorie article presse{% endblock %}

{% block body %}
<header id="hero">
	<h1>Edition catégorie article presse</h1>
</header>
<main class="container">
    <ol class="breadcrumbs">
        <li>
            <a href="{{path('administrator-dashboard')}}">Accueil tableau de bord</a>
        </li>
        <li>
            <a href="{{path('category_article_index')}}">Accueil-Gestion categorie presse</a>
        </li>
        <li>Edition catégorie article presse</li>
    </ol>
    <a href="{{ path('category_article_index')}}" class="btn btn-primary">Retour à la liste</a>
    {{ include('administrator/category_article/category_article_form.html.twig', {'button_label': 'Mise à jour'}) }}
    {{ include('administrator/category_article/delete_form_category_article.html.twig') }}
</main>
{% endblock %}
