{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie article presse{% endblock %}

{% block body %}
<header id="hero">
    <h1>Nouvelle catégorie article presse</h1>
</header>
<main class="container">
    <ol class="breadcrumbs">
        <li>
            <a href="{{path('administrator-dashboard')}}">Accueil tableau de bord</a>
        </li>
        <li>
            <a href="{{path('category_article_index')}}">Accueil-Gestion categorie presse</a>
        </li>
        <li>Nouvelle catégorie article presse</li>
    </ol>
    <a href="{{ path('category_article_index')}}" class="btn btn-primary">Retour à la liste</a>
    <button onclick="window.location.href='{{ path('category_article_index')}}';">Retour à la liste</button>
    {{ include('administrator/category_article/categroy_article_form.html.twig') }}
</main>
{% endblock %}
