{% extends 'base.html.twig' %}

{% block title %}Aperçu catégorie article presse{% endblock %}

{% block body %}
<header id="hero">
    <h1>Aperçu catégorie article pressee</h1>
</header>
<main class="container">
    <ol class="breadcrumbs">
        <li>
            <a href="{{path('administrator-dashboard')}}">Accueil tableau de bord</a>
        </li>
        <li>
            <a href="{{path('category_article_index')}}">Accueil-Gestion categorie presse</a>
        </li>
        <li>Aperçu catégorie article pressee</li>
    </ol>
    <a href="{{ path('category_article_index')}}" class="btn btn-primary">Retour à la liste</a>
    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ categorie_article.Nom }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('category_article_edit', {'id': categorie_article.id}) }}">édition</a>
    {{ include('administrator/category_article/delete_form_category_article.html.twig') }}    
</main>
{% endblock %}