{% extends 'base.html.twig' %}

{% block title %}Informations Personnelles{% endblock %}

{% block body %}
<header id="hero">
	<h1 class="main-title">Modifier mes Informations Personnelles</h1>
</header>
<main class="container">
	<ol class="breadcrumbs">
		<li>
			<a href="{{path('user-dashboard')}}">Accueil</a>
		</li>
		<li>
			<a href="{{path('perso_index')}}">Accueil-Informations personnelles</a>
		</li>
		<li>Accueuil-Modifier mes informations personnelles</li>
	</ol>
	<div class="row">
		<div class="col-12 bottom">
			{{ form_start(form) }}
			{{ form_row(form.prenom, { 'label': 'Prénom' }) }}
			{{ form_row(form.nom, { 'label': 'Nom' }) }}
			{{ form_row(form.username, { 'label': 'Nom utilsateur' }) }}
			{{ form_row(form.email, { 'label': 'Email' }) }}
			{{ form_row(form.telephone, { 'label': 'Téléphone' }) }}
			{{ form_row(form.adresse, { 'label': 'Adresse' }) }}
			{{ form_row(form.code_postal, { 'label': 'Code Postal' }) }}
			{{ form_row(form.ville, { 'label': 'Ville' }) }}
			{{ form_row(form.complement_adresse, { 'label': 'Complément adresse' }) }}			
			{{ form_row(form.valider)}}
			{{ form_end(form) }}
			{# <a href="{{ path('user-dashboard')}}" class="btn btn-primary">Retour</a> #}
		</div>
	</div>
</main>	
{% endblock %}
