﻿{% extends 'base.html.twig' %}
{% block title %}Informations Personelles{% endblock %}
{% block body %}
<header id="hero">
    <h1 class="main-title">Informations Personelles</h1>
</header>
<main class="container">
    <ol class="breadcrumbs">
        <li>
            <a href="{{path('user-dashboard')}}">Accueil</a>
        </li>
        <li>Accueuil-Informations personnelles</li>
    </ol>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <tbody>
                    {% for user in users %}                     
                        <tr>
                            <th class="table-head">Prénom</th>
                            <td>{{ user.prenom }}</td>
                        </tr>
                        <tr>
                            <th class="table-head">Nom</th>
                            <td>{{ user.nom }}</td>
                        </tr>
                        <tr>
                            <th class="table-head">Nom d'utilisateur</th>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <th class="table-head">Email</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <th class="table-head">Adresse</th>
                            <td>{{ user.adresse }}</td>
                        </tr>
                        <tr>
                            <th class="table-head">Téléphone</th>
                            <td>{{ user.telephone }}</td>
                        </tr>
                        <tr>
                            <th class="table-head">Code Postal</th>
                            <td>{{ user.CodePostal }}</td>
                        </tr>
                        <tr>
                            <th class="table-head">Ville</th>
                            <td>{{ user.ville }}</td>
                        </tr>
                        <tr>
                            <th class="table-head">Adhesion :</th>
                            <td>{{ user.isAdhesion ? 'OUI' : 'NON'  }}</td>
                        </tr>                       
                        <tr>
                            <td colspan="2">
                                <a href="{{ path('perso_edit_user', {'id': user.id}) }}">Modifier mes Infos Personnelles</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="15">pas d'enregistrement</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>     
{% endblock %}

