{% extends 'base.html.twig' %}

{% block title %}Galerie photos/vidéos{% endblock %}

{% block body %}
<header id="hero">
	<h1 class="main-title">Galerie</h1>
</header>
<main class="container">
	<ol class="breadcrumbs">
		<li>
			<a href="{{path('Home')}}">Accueil</a>

		</li>
		<li>Galerie</li>
	</ol>
		<div class="row">
		{% for galerie in galeries %}
			<div class="col-md-4">
				<div class="card" style="width: 18rem;">
					<a  href="{{ path('gallery_show_user', {'id': galerie.id}) }}">						
						<img class="card-img-top" src="{{vich_uploader_asset(galerie,'imageFile') }}" alt="Card image cap">
						<p class="card-text sergent">{{ galerie.description|truncate(50)|raw}}</p>
					</a>					
				</div>
			</div>
			<div class="col-md-4">
				<div class="card" style="width: 18rem;">
					<iframe class="card-img-top" width="100" height="200" src="{{ galerie.youtubeUrl }}" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>			
		{% else %}
		<p>Pas de vidéos ou photos enregistrées</p>
		{% endfor %}
</main>
<div class="d-flex justify-content-center">
	{% do galeries.setPageRange(2)%}
	{{ knp_pagination_render(galeries,'partial/pagination.html.twig') }}
</div>
		
{% endblock %}
