{% extends 'base.html.twig' %}

{% block title %}Galerie photos/vidéos{% endblock %}


{% block body %}
<header id="hero">
        <h1 class="main-title">Galerie</h1>
</header>
<main class="container">
    <ol class="breadcrumbs">
        <li>
            <a href="{{path('Home')}}">Accueil</a>
        </li>
        <li>
            <a href="{{path('gallery')}}">Tous les images</a>
        </li>
        <li>Galerie-Aperçu</li>
    </ol>
    <div class="card-horizontal">
        <header>
            <img class="thumbnail-article" src="{{vich_uploader_asset(galerie,'imageFile') }}" alt="Card image cap">          
        </header>
        <article class="content">
            <p>{{ galerie.description|raw }}</p>            
        </article>
    </div>
</main>
{% endblock %}