{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block body %}
<header id="hero">
	<h1 class="main-title">Boutique</h1>
</header>
<main class="container">
	<ol class="breadcrumbs">
		<li>
			<a href="{{path('Home')}}">Accueil</a>

		</li>
		<li>Boutique</li>
	</ol>
</main>

<section id="equipe-page" class="container-fluid ">
	<section class="container competences-mobiles">
		<header class="row">
			<div class="col-12 equipe-page-mobile">
				<h1 class="centre-titre">Boutique</h1>
			</div>
		</header>
		<div class="row">
			<div class="col-12">
				{% for produit in produits %}
				<div class="portrait">
					<div class="card" style="width: 18rem;">
						<img  src="{{vich_uploader_asset(produit,'imageFile') }}"/>
						<div class="card-body">
							<p class="card-text">{{ produit.nom }}</p>
						</div>
					</div>
					{% else %}
					<p>Pas de produits à afficher</p>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
</section>
{% endblock %}