// Bootstrap
@import "~bootstrap/scss/bootstrap";

body,
html,
header,
h1{
    background-color:#e0cda9 ;    
    margin: 0;
    padding: 0;   
}
header,
body,
html{
    width: 100%;
}
.index-page{
    display: flex;
    align-items: center;
    justify-content: center;
}
#index-page{
    margin-bottom: 12vh;
}
.lire-la-suite{
    padding-left: 0px;
    padding-right: 0px;  
}
.lire-la-suite-carousel{
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px; 
}
// .navbar{
//     background-color: #e0cda9 !important;
// }
.dropdown-menu.show{
    font-size: 17px !important;
    display: inline-block;
    width: 100%;
}
.dropdown-menu.product.show{
    font-size: 17px !important;
    display: inline-block;
    width: 300%;
}
.logo{
    width: 120px;
}
.dropdown-toggle{
    font-size: 1rem;
}
.btn-evenement{
    margin-right: 15px;   
}

footer{
    position:fixed;
    bottom:0;
    width: 100%; 
    // border-top: 5px solid orange;
    border-top: 5px solid white;
    color:white;
    // background-color:skyblue ;  
     background-color:#011f35 ;    
}
.reso{
    margin-bottom: 0px;
}
.contenant {
    position: relative;
    text-align: center;
    color:black;
    font-size: 60px;
}
.contenant img{
    width: 100%;
    height: 435px;
}

.texte_centrer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}
.actualite{
    text-align: center;
}
#hero h1{
    border-bottom: 2px solid black;
    text-align: center;
}
.grid{
    display: flex;
    // grid-template-columns: 200px 200px 200px;
}
.card{
    background-color: inherit;
    border: 2px solid #fff;
    display: flex;
    flex-direction: column;
    // width: 40rem;
}
.row{
    margin-top: 28px;
}
.icone{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.card-title{
    text-align: center;
}
.btn{
    display: block;   
    margin-bottom: 20px;
}
.utilisateurs{
    margin-left: -8px;
}
.abonnement{
    margin-left: -17px;
}
.connexion{
    text-align: center;
    margin-bottom: 2rem;
}
#equipe-page{
    padding-top: 10px;
}
.portrait{
    display: flex;
}
.card{
    margin-right: 24px;
}
.portrait-ligne2{
    display: flex;
    margin-top: 104px;
}
.qui-somme-nous{
    text-align: center;
    margin-top: 14%;
    font-size: 1.5rem;
}
/* #envoyer{
    margin-top: 40px;
} */
.envoyer{
    margin-top: 40px;
}
.mentions-legales{
    margin-top: 60px;
}
.centre-connexion{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.bouton-connexion{
    margin-top: 30px;
}
.ou-connexion{
    margin-top: 50px;
}
.ou{
    font-size: 20px;
}
.flex-ou{
    display: flex;
    align-items: center;
    justify-content: center;
}
.indentification-form{
    max-width: 500px;
    margin-bottom: 30px;
    padding: 25px 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}
.sbloc{
    position: relative;
    display: table;
    width: 100%;
    margin: 0 auto 22px;
    background-color: #fff;
}
.content{
    margin-bottom: 12vh;
}
.form-group{
    margin: 0 auto 10px;
    position: relative;
}
.identification-sep{
    width: 100%;
    height: 1px;
    margin: 25px 0;
    background-color: #e1e1e1;
}
.nouvel-utlisateur{
    text-align: center;
}
.login{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.paragraphe-mdp-oublié{
    margin-top: 50px;
}
.email{
    width: 100%;
}
.input-connexion{
    width: 100%;
    border: 2px solid black;
}

.card-top{
    margin-top: 35px;
}
#admin-page{
    margin-bottom: 50px;
}
.resacoop{
    margin-top: 95px;
}
.resacoop-text{
    margin-top: 100px;
}
.centre-images{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.panier{
    width: 49%;
}
#ajout-produit-page{
    margin-bottom: 25rem;
}
#calendrier{
    width: 80%;
    margin: auto;
    z-index: 0;
    margin-top: 20px;
    max-width: 900px;
}
// .calendar-container{
//   position: fixed;
//   top: 167px;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   height: 100%;
// }

#evenement-page{
    margin-bottom: 25rem;
}

.btn-edit{
    margin-right: 10px;
}
#edit-calendar-page{
    margin-bottom: 3rem;
}
.btn-2{
    display: flex;
}
.tunnel-header{
    overflow: hidden;
    height: 60px;
    display: table;
    width: 100%;
}
#logo-accueil{
    border:none;
    position: inherit;
    width: 120px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 18px;
}
.logo2{
    float: left;
    width: 168px;
}
.header-connexion{
    width: 100%;
    z-index: 1000;
    top: 0;
    background: darkgreen;
}
.dashboard{
    margin-top: 37px;
}
.country{
    width: 20%;
}
// .navbar-nav{
//     display: flex;
//     justify-content: center;
//     align-items: start;
//     width: 78%;
// }
.centre-text-article{
    text-align: center;
}
.titre-article-home{
    background-color: white;
}
.thumbnail-article{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
// .images-articles{
//     width: 100%;
//     display: block;
// }
.vianney{
    padding-left: 0px;
    padding-right: 0px;
}
.tr-apercu-article{
    border:hidden;
}
.sergent p{
  color: red !important;
}
.titre-attention{
    margin-top: 200px;
}
.info-adherent{
    font-style: italic;
    font-size: 16px;
    color: gray;
}
#management-users-page{
    margin-bottom:54px ;
}
.utilisateur{
    margin-top: 20px;
}
// /*Table */
// table {
//   border: 1px solid #ccc;
//   border-collapse: collapse;
//   margin: 0;
//   padding: 0;
//   width: 100%;
//   table-layout: fixed;
//   margin-top: 20px; 
// }
// table caption {
//   font-size: 1.5em;
//   margin: 0.5em 0 0.75em;
// }
// table tr {
//   background-color: #f8f8f8;
//   border: 1px solid #ddd;
//   padding: 0.35em;
//   width: 100%;
// }
// table th,
// table td {
//   padding: 0.625em;
//   text-align: center;
// }
// table th {
//   font-size: 0.85em;
//   letter-spacing: 0.1em;
//   text-transform: uppercase;
// }
// table .email {
//     font-size: 0.85em;
//     letter-spacing: 0.1em;
//     text-transform: uppercase;
//     width: 12%;
// }
// table .adresse {
//     font-size: 0.85em;
//     letter-spacing: 0.1em;
//     text-transform: uppercase;
//     width: 12%;
// }
// table .nom {
//     font-size: 0.85em;
//     letter-spacing: 0.1em;
//     text-transform: uppercase;
//     width: 5%;
// }
// table .actions {
//     font-size: 0.85em;
//     letter-spacing: 0.1em;
//     text-transform: uppercase;
//     width: 12%;
// }
// .btn{
//     margin-right: 10px;
// }
.image_responsive{
    // width: 100%;
    height: auto;
    margin-top: 30px;
}
.actions{
    padding-bottom: 1.5rem;   
    border-top:0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    border-top-width: 0px;
    padding-top: 24px;
}
.actions a{
    margin-top: 7px;
}
.action{
    display: flex;
}
// /* End Table*/
// table th{
//     border:2px solid black;
// }
// table .nom{
//     width: 20%;
//     text-align: inherit;
// }
.user_informations h2{
    font-size: 21px;
}
.attention{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.centre-404{
    text-align: center;
}
.centre2-404{
    text-align: center;
    font-size: 14px;
}
#adhesion-page{
    margin-bottom: 20vh;
}
#haWidget,
.don{
    margin-top: 20px;
}
#logins-page{
    margin-bottom: 20vh;
}

// :root {
//   --primary: white;
// }

.justify {
  text-align: justify;
}

.text-purple {
  color: white;
}

.bg-purple {
  background-color: white;
  color: black;
}
.lead{
    font-size: 17px;
    font-weight: 300;
}
.svg-inline--fa{
    font-size: 25px;
}
// .cards-teams{
//     flex:0 0 auto;
//     width: 50%;
// }
.suppression{
    color: red;
}
#contact-page{
    margin-bottom: 25Vh;
}
#calendar-page{
    margin-bottom: 20vh;
}
.galerie {

  display: grid; /* Affichage en grille */
  grid-template-columns: 259px 69px 259px 259px; /* Affiche la grille sur 4 colonnes de largeur dépendant du contenu */
//   gap: 10px; /* Espacement entre les images */
//   justify-content: center; /* Centre la galerie sur la page */
  padding: 0px;
  margin-top: 60px;
}

.galerie img {
  border-radius: 10px; /* Ajoute des coins arrondis, parce que j'aime bien... */
  max-width: 100%; /* Assure que les images ne sont jamais agrandies */
}
#hero{
    display: flex;
    justify-content: center;
    align-items: center;
    // min-height: 47vh;
    // width: 100%;
    background-image: url(../images/Accueil/nouveau-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 394px;
    height: 193px;
}
ol.breadcrumbs{
    padding: 5px 16px;
    list-style: none;
    background-color: #011f35;
    border: 2px solid #fff;
    margin-bottom: 0.5rem;
}
ol.breadcrumbs li{
    display: inline;
    font-size: 1rem;
}
ol.breadcrumbs li+li::before{
    color: rgb(255, 255,255);
    content: "/";
    padding: 8px;
}
ol.breadcrumbs li{
    color: white;
}
main{
    margin-bottom: 20vh;
}
ol.breadcrumbs a{
    text-decoration: none;
}
#header-hero .home{
    height: 70vh;
} 
#header-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18vh;
    // min-height: 43vh;
    // width: 100%;
    // background-color: #fff;
    // background-image: url(../images/Accueil/nouveau-logo.png);
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: contain;
}
#header-hero .home .hero-content{
    text-align: center;
}
.p1{
    padding: 1rem !important;
}
#header-hero p{
    font-size: 1.2rem;
    padding: 0.8rem 0;
}
.mb1{
    margin-bottom: 1rem !important;
}
.main-title{
    font-size: 1.5rem;
    padding: 10px 0;
    text-align: center;
    background-color: transparent;
}
.my2{
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}
.btn-articles{
    color: #fff;
    border: none;
    display: inline-block;
    font-weight: 400;    
}
.btn-articles .btn-primary{
    background-color: #008a77 !important;
}
// .btn-articles .btn-primary{
//     background-color: #008a77;
// }
.px4{
    padding-top:2rem !important;
    padding-bottom: 2rem !important;

}
.py2{
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}
// .m1{
//     margin: 1rem !important;
// }
#header-hero .home .hero-content a{
    text-decoration: none;
}
#header-hero .home h1{
    font-size: 4rem;
}
#header-hero h1{
    padding: 1.2rem 0;
}
#header-hero a{
    margin-top: 115px;
    padding-left: 16px;
    margin-right: 23rem;
    padding-right: 22px;
}
.card-horizontal{
    border: 2px solid #fff;
    padding: 20px;
    margin-top: 1rem;
}
.card-horizontal header  img{
    border: 2px solid #fff;
}
.content p{
    background-color: inherit;
}
form{
    text-align: center;
}
.form-text{
    text-align: left;
}
// nav #navbar{
//     border-bottom: 2px solid #fff;
// }

form fieldset{
    width: 100%;
    padding: 0.25rem;
    border: none;
    margin-bottom: 1.5rem;
}
.card-title-mohadmed{
    margin-top: 99px;
}
.hr-mohadmed{
    padding-top: 0px;
    margin-top: 2rem;
}
.actualites{
    border:2px solid black;
    font-size: 32px;
}
.carousel-caption{
    padding-bottom: 0px;
    padding-top: 0px;
}
.articles-images{
    opacity: 0.5;
    margin-left: auto;
    margin-right: auto;
    width: 46%;
}
#header-hero img
{
    width: 65vh;
    margin-top: 118px;
}
.btn-sumbmit-form-register{   
    background-color:#6EBE1B ;
}

/** Navbar **/
nav{
    width: 100%;
    height: 70px;
    background-color: #3a3a3a;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: row;
    // justify-content: center; 
}
// .nav .onglet1{
//     margin-left: 400px;
//     margin-right: 15px;
// }
// .navbar-brand{
//     justify-content: flex-start;
// }
 .nav2{
	 	// background: black;
	 	color: white;
	 	height: 70px;
	 	font-family: sans-serif;

	 	display: flex;
	 	flex-wrap:wrap;
	 	align-items: center;
	 }

	 .nav-title{
	 	width: 25vh;
	 	// background: red;
	 	padding: 16px 40px;
	 	text-align: center;

	 }
      .nav-menu{
	 	width: 70%;
	 }
nav .nav > a,
nav .nav button{ 
    color: white !important;   
    // margin: 0 15px;
    font-size: 1.3em;
    text-decoration: none !important;  
}
.nav{
    display: inherit;
    margin: auto;
}

nav .nav button{
    background-color: transparent;
    border: none;
    outline: none;    
    cursor: pointer;
}
nav .nav .dropdown-1{
    position: relative;
    height: 100%;
    display: flex;
}
nav .nav .dropdown-1 .content{
    display: none;
}

nav .nav .dropdown-1 .content{
    display: block;
    display: flex;
    flex-direction: column;
    position:absolute;
    background-color: rgb(245, 245, 245);
    top:53px;
    width: 120%;
    padding: 8px 15px;
    box-sizing: border-box;
}

nav .nav .content a {
    color: black;
    text-decoration: none;
}

 .icon{
    display: none;
}

/**Dropdown**/
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin-top: 6px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

/**Fin Dropdown**/
.onglets{
    margin-top: 20px;
    margin-right: 25px;
}

/** Fin Navbar **/







@media screen and (max-width:600px){
    .abonnement,
    .utilisateurs{
        margin-left: 0px;
    }
    .carousel-caption{
        top:0px
    }
    .card-title{
        margin-top: 0px;
        font-size: 17px;
    }
    .sergent p{
        font-size: 13px;
        margin-bottom: 9px;
    }
    .articles-images{
        width: 70%;
    }
    .sergent button{
        width: 99px;
        font-size: 14px;
        padding-top: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
//     footer{
//     // position: fixed;        
//     width:100%;
//     color:white; 
//     bottom: 0;
//     // height: 3em;
//     text-align: center;
//     border-top: 5px solid orange;    
// }

// .footer-p{
//     color:white;
// }
.col-md-4{
    margin-top: 20px;
}
#calendrier{
    width: 80%;
    margin: auto;
    z-index: 0;
    margin-top: 20px;
    max-width: 429px;
}
.fc .fc-scrollgrid-section{
    height: 86px !important;
    border:1px solid red !important;
}
    .portrait,
    .portrait-ligne2{
        flex-wrap: wrap;
    }
  footer{
      position:fixed;
      bottom: 0;
    //   height: 50px;
  }
  .qui-somme-nous{
      margin-top: 0%;
  }
  .facebook{
      margin-left: 0px;
      margin-top: 58px;
      width: 10%;
  }
  .equipe-page-mobiles {
    margin-top: -50px;
    margin-bottom: 4rem;
  }
  .index-page img{
      width: 100%;
  }

  /*Table*/
  table {
    border: 0;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }
  table td::before {
    /*
  * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
*/
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  td{
      text-align: center;
  }
  /*End Table*/

  #gestion-utilisateur-page,
  #article-presse-page,
  #admin-page,
  #information-personnel-edit,
  #contact-page,
  #adhesion-page{
      margin-bottom: 20vh;
  }
//   .tables-infos{
//       width: 138%;
//   }
.adresse-infos{
    padding-left: 0px;
    padding-right: 0px;
}
.responsive{
    margin-top: 20px;
}

/**Debut Navbar **/
  .nav{
      display: none;
  }  
//   nav> a,  
//   nav button{
//         display: none;
//     }
   nav .responsive > a,  
  nav .responsive button{
        display: block;
    }

    nav .icon{
        display: block;
        position:absolute;
        right: 0;
        text-align: center;
        width: 5% !important;
        top:20px;
    }
    nav.responsive > a
    {        
        padding: 10px 0;
       
    }
    nav .responsive  > a,
    nav .responsive .dropdown-1{
        display: block;        
        width: 100%;
        text-align: left;
    }
    nav .responsive  button{
        display: block;
        padding: 10px 0;
    }
    nav{
        flex-direction: column;
        min-height: 70px;
        height: 100%;
        align-items: flex-start;

    }

    nav .responsive .dropdown-1:hover .content{
       position: relative;
       width: 100%;
       top:0;
    } 

    nav .responsive .dropdown-1 .content{
       margin-bottom: 0vh;
    } 
    
    .responsive{
        margin-top: 0px;
          display: flex;
    // margin: auto;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0px;
    margin-right: 0px;
    }
    .dropdown-content{
        min-width: 600px;
    }
 
    
/** Fin Navbar **/


}



