{% extends 'base.html.twig' %}

{% block title %}
Too Cooleur-Contact
{% endblock %}

{% block body %}
<header id="hero">
	<h1 class="main-title">Contact-toocooleur.com</h1>
</header>
<main class="container">
	<ol class="breadcrumbs">
		<li>
			<a href="{{path('Home')}}">Accueil</a>
		</li>
		<li>Contact</li>
	</ol>
	{{ form_start(ContactForm) }}
	<header class="form-text">
		<p>Vous souhaitez nous contacter pour obtenir des informations complémentaires, nouer des partenariats ?</p>
		<strong>Par e-mail en remplissant le formulaire ci-dessous</strong>
	</header>
	{{ form_row(ContactForm.nom,{'attr':{'class':'mail'}}) }}
	{{ form_row(ContactForm.prenom,{'attr':{'class':'mail'}}) }}
	{{ form_row(ContactForm.telephone,{'attr':{'class':'telephone'}}) }}
	{{ form_row(ContactForm.email,{'attr':{'class':'mail'}}) }}
	{{ form_row(ContactForm.sujet,{'attr':{'class':'telephone'}}) }}
	{{ form_row(ContactForm.message,{'attr':{'class':'text'}}) }}
	{# {{ form_row(ContactForm.captcha) }} #}
	{{ form_row(ContactForm.Envoyer,{'id':'envoyer','attr':{ 'class':'btn btn-primary envoyer'}}) }}
	{{ form_end(ContactForm) }}
</main>
{% endblock %}