<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activation Compte</title>
</head>
<body>
    <h1>Activation de votre compte</h1>
    <p>Vous avez créé un compte sur notre site, cliquez sur le lien ci-dessous pour l'activer.</p>
    <p><a href="{{ absolute_url(path('activation', {'token': token})) }}">Activer mon compte</a></p>
</body>
</html>