<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mot de passe oublié</title>
</head>
<body>
    <h1>Mot de passe oublié</h1>
    <p>Une demande de réinitialisation de mot de passe a été faite pour le site Too cooleur. Veuillez cliquer sur le lien suivant:  </p>
    <p><a href="{{ absolute_url(path('reset_password', {'token': token})) }}">Changer mon mot de passe</a></p>
</body>
</html>