<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
	<meta charset="UTF-8">
	<title>
		{% block title %}Accueil Too Cooleur
		{% endblock %}
	</title>
	<link rel="shortcut icon" href="{{asset('/build/images/Accueil/AccueilImageToocooleur.434a79a1.jpg')}}" type="image/x-icon">
	{% block stylesheets %}
	<!-- Bootstrap core CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.11.4/datatables.min.css"/>
	<!-- CSS Personnel -->
	{# <link rel="stylesheet" href="{{ asset("build/app.css") }}"/> #}
	
	<link rel="stylesheet" href="./assets/styles/app.scss"></link>
	{{ encore_entry_link_tags('app') }}	
	{% endblock %}
	



	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
	{# {% if app.environment == 'PROD' %}
		<script type="text/javascript" src="{{ asset('/tarteaucitron/tarteaucitron.js') }}"></script>
		<script type="text/javascript">
			tarteaucitron.init({
				"privacyUrl": "",
				/* Privacy policy url */

				"hashtag": "#tarteaucitron",
				/* Open the panel with this hashtag */
				"cookieName": "tarteaucitron",
				/* Cookie name */

				"orientation": "middle",
				/* Banner position (top - bottom) */

				"groupServices": false,
				/* Group services by category */

				"showAlertSmall": false,
				/* Show the small banner on bottom right */
				"cookieslist": false,
				/* Show the cookie list */

				"closePopup": false,
				/* Show a close X on the banner */

				"showIcon": true,
				/* Show cookie icon to manage cookies */
				// "iconSrc": "", /* Optionnal: URL or base64 encoded image */
				"iconPosition": "BottomRight",
				/* BottomRight, BottomLeft, TopRight and TopLeft */

				"adblocker": false,
				/* Show a Warning if an adblocker is detected */

				"DenyAllCta": true,
				/* Show the deny all button */
				"AcceptAllCta": true,
				/* Show the accept all button when highPrivacy on */
				"highPrivacy": true,
				/* HIGHLY RECOMMANDED Disable auto consent */

				"handleBrowserDNTRequest": false,
				/* If Do Not Track == 1, disallow all */

				"removeCredit": false,
				/* Remove credit link */
				"moreInfoLink": true,
				/* Show more info link */

				"useExternalCss": false,
				/* If false, the tarteaucitron.css file will be loaded */
				"useExternalJs": false,
				/* If false, the tarteaucitron.js file will be loaded */

				// "cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */

				"readmoreLink": "",
				/* Change the default readmore link */

				"mandatory": true,
				/* Show a message about mandatory cookies */
			});
			(tarteaucitron.job = tarteaucitron.job || []).push('helloasso', 'youtube');
		</script>
	{% endif %} #}

	
	
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js" integrity="sha256-DBxkGZLxKsLKhz054qUpBqtotG00r9AELGpSigJujLg=" crossorigin="anonymous"></script>


	{% block javascripts %}{% endblock %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	{# <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js" integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> #}
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.11.4/datatables.min.js"></script>	
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	
	{{ encore_entry_script_tags('app') }}
	{# {{ encore_entry_script_tags('navbar') }} #}






	{# <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> #}
	{# <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script> #}
	{# <script src="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.js"></script> #}
	
	
</head>
<body>
	<nav>
	{# <div  id="navbar" class="container-fluid"> #}
		{# {% include 'partial/navbar.html.twig' %} #}
		{% include 'partial/navbar.html.twig' %}		

		{% include 'alert_container.html.twig' %}
	{# </div> #}
	</nav>

	{% block body %}{% endblock %}
	{% include 'partial/footer.html.twig' %}
</body>
</html>
