{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<header id="hero">
    <h1 class="main-title">Mentions légales</h1>
</header>
<main class="container">
    <ol class="breadcrumbs">
        <li>
            <a href="{{path('Home')}}">Accueil</a>

        </li>
        <li>Mentions légales</li>
    </ol>
    <p>
        <strong>Nom de l'association:</strong>
        "Too Cooleur"
    </p>
    <p>
        <strong>Adresse :
        </strong>
        67 Rue Saint-François de Sales, 73000 Chambéry
    </p>
    <p>
        <strong>Numéro de téléphone :
        </strong>
        +33 6 88 86 88 35
    </p>
    <p>
        <strong>Directeur de la publication (nom du président de l'association):
        </strong>
        Rachel Fusier
    </p>
    <p>
        <strong>Hébergement
        </strong>
        <br>
        <br>
        <strong>Raison sociale :
        </strong>
        O2SWITCH
    </p>
    <p>
        <strong>Adresse siège social:
        </strong>
        222 Bd Gustave Flaubert, 63000 Clermont-Ferrand
    </p>
    <p>
        <strong>Numéro de téléphone :
        </strong>
        04 44 44 60 40
    </p>
</main>
{% endblock %}