{% extends 'base.html.twig' %}

{% block title %}En construction{% endblock %}

{% block body %}
<div class="container">
    <div class="row align-items-start titre-attention">      
        <div class="col attention">
            <img class="attention" src="{{asset('/build/images/Icones/Attention.7993a3a6.png')}}" alt="attention-construction">
            <h1> Page en construction</h1>
        </div>
    </div>
</div>
{% endblock %}