<form method="post" action="{{ path('profil_suppression', {'id': user.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer le compte ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
