{% extends 'base.html.twig' %}

{% block title %}Tableau de bord utilisateur{% endblock %}

{% block body %}
<header id="hero">
	<h1 class="main-title">Tableau de bord utilisateur</h1>
</header>
<main class="container">
	<ol class="breadcrumbs">
		<li>
			<a href="{{path('Home')}}">Accueil</a>

		</li>
		<li>Accueuil-Tous les onglets</li>
	</ol>
	<div class="row">
		<div class="col-md-4">
			<div class="card abonnement" style="width: 20rem;">
				<i class="fas fa-id-card  icone"></i>
				<div class="card-body">
					<h5 class="card-title">Les commandes</h5>
					{# <a class="btn btn-primary" href="https://auth.helloasso.com/connexion">Gestion abonnements</a> #}
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card abonnement" style="width: 20rem;">
				<i class="fas fa-user-cog"></i>
				<div class="card-body">
					<h5 class="card-title">Modifier vos adresses et vos préférences de livraison.</h5>
					{# <a class="btn btn-primary" href="https://auth.helloasso.com/connexion">Gestion abonnements</a> #}
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card abonnement" style="width: 20rem;">
				<i class="fas fa-user-cog"></i>
				<div class="card-body">
					<h5 class="card-title">Modifier vos adresses et vos préférences de livraison.</h5>
					{# <a class="btn btn-primary" href="https://auth.helloasso.com/connexion">Gestion abonnements</a> #}
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="card abonnement" style="width: 20rem;">
				<i class="fas fa-id-card"></i>
				<div class="card-body">
					<h5 class="card-title">Gestion Abonnements,<br>adhésions</h5>
					{# <a class="btn btn-primary" href="https://auth.helloasso.com/connexion">Gestion abonnements</a> #}
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card abonnement" style="width: 20rem;">
				<i class="fas fa-calendar-alt"></i>
				<div class="card-body">
					<h5 class="card-title">Voir et modifier vos informations personelles</h5>
					<a href="{{path('perso_index')}}" class="btn btn-primary">Modifier mes informations</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card abonnement" style="width: 20rem;">
				<i class="fas fa-calendar-alt"></i>
				<div class="card-body">
					<h5 class="card-title">Vous voulez suppprimer votre compte merci de contacter l'administrateur dans la page contact</h5>
					<a href="{{path('contact')}}" class="btn btn-danger">Suppression compte</a>
				</div>
			</div>
		</div>		
	</div>
</main>
{% endblock %}