{% extends 'base.html.twig' %}

{% block title %} Tableau de bord-Administrateur{% endblock %}

{% block body %}
<header id="hero">
	<h1>
		<i class="fas fa-tachometer-alt"></i>Tableau de bord-Administrateur
	</h1>
</header>
<main class="container">
	<ol class="breadcrumbs">
		<li>
			<a href="{{path('administrator-dashboard')}}">Accueil tableau de bord</a>
		</li>
		<li>Tous les onglets</li>
	</ol>
	<div class="row">
		<div class="col-md-4">
			<div class="card" style="width: 20rem;">
				<i class="fas fa-shopping-cart icone"></i>
				<div class="card-body">
					<h5 class="card-title">Les commandes</h5>
					<a class="btn btn-primary" href="https://auth.helloasso.com/connexion">Commandes</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card utilisateurs" style="width: 20rem;">
				<i class="fas fa-shopping-cart  icone"></i>
				<div class="card-body">
					<h5 class="card-title">Gestion utilisateur</h5>
					<a class="btn btn-primary" href="{{path('Management_Users_index')}}">Gestion Utilisateurs</a>

				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card abonnement" style="width: 20rem;">
				<i class="fas fa-id-card  icone"></i>
				<div class="card-body">
					<h5 class="card-title">Gestion Abonnements,adhésions</h5>
					<a class="btn btn-primary" href="https://auth.helloasso.com/connexion">Gestion abonnements</a>
				</div>
			</div>
		</div>
	</div>	
	<div class="row">
		<div class="col-md-4">
			<div class="card" style="width: 20rem;">
				<i class="fas fa-newspaper  icone"></i>
				<div class="card-body">
					<h5 class="card-title">Gestion  articles de presse</h5>
					<a class="btn btn-primary" href="{{path('article_index')}}">Gestion Article de presse</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card" style="width: 20rem;">
				<i class="fas fa-shopping-cart  icone"></i>
				<div class="card-body">
					<h5 class="card-title">Gestion  Catégories articles presse</h5>					
						<a class="btn btn-primary " href="{{path('category_article_index')}}">Gestion catégorie articles presse</a>
				</div>
			</div>
		</div>
  		<div class="col-md-4">
			<div class="card" style="width: 20rem;">
				<i class="fas fa-calendar-alt  icone"></i>
				<div class="card-body">
					<h5 class="card-title">Gestion évènements</h5>
					<a class="btn btn-primary" href="{{path('calendar_index')}}">Gestion Evenement</a>
				</div>
			</div>
		</div>  
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="card" style="width: 20rem;">
				<i class="fas fa-shopping-cart  icone"></i>
				<div class="card-body">
					<h5 class="card-title">Gestion produits du catalogue</h5>
					<a class="btn btn-primary " href="https://auth.helloasso.com/connexion">Gestion Produits</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card" style="width: 20rem;">
				<i class="fas fa-video  icone"></i>
				<div class="card-body">
					<h5 class="card-title">Gestion photos/vidéos de la Galerie</h5>
					<a class="btn btn-primary" href="{{path('gallery_index')}}">Gestion Gallerie</a>
				</div>
			</div>
		</div>
  		<div class="col-md-4">
				<div class="card" style="width: 20rem;">
				<i class="fas fa-shopping-cart  icone"></i>
				<div class="card-body">
					<h5 class="card-title">Gestion  Catégories de produits</h5>
²					<a class="btn btn-primary " href="https://auth.helloasso.com/connexion">Gestion Produits</a>
				</div>
			</div>
		</div>  
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="card" style="width: 20rem;">
				<i class="fas fa-flag-usa  icone"></i>
				<div class="card-body">
					<h5 class="card-title">Gestion pays</h5>
					<a class="btn btn-primary " href="{{path('country_index')}}">Gestion Pays</a>
				</div>
			</div>
		</div>
	</div>	
</main>
{% endblock %}