<footer id="footer" class=" page-footer font-small indigo ">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<p class="footer-p">
					© 2022 Copyright: Too Cooleur
          			<a href="{{path('legal-notice')}}">Mention Légale</a>
          			<a href="{{path('sitemap')}}">Sitemap</a>
          			<a href="https://www.facebook.com/Association-TOO-COOLEUR-117022838680790"> <i class="fab fa-facebook"></i></a>        
				</p>				
			</div>
		</div>
	</div>
</footer>

