<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{path('Home')}}"><img class="logo" src="{{asset('/build/images/Accueil/nouveau-logo.593931e0.png')}}" alt="Logo toocooleur"></a>
   		{% if is_granted('ROLE_ADMIN') %}
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
					<a class="nav-link" href="#">Commande</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('Management_Users_index')}}">Gestion utilisateurs</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Gestion Adhésions</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('article_index')}}">
						Gestion Articles</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('country_index')}}">
						Gestion pays</a>
				</li>
					<li class="nav-item">
					<a class="nav-link" href="{{path('gallery_index')}}">
						Gestion galerie</a>
				</li>
				<div class="btn-group">
					<button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						Produits
					</button>
					<ul class="dropdown-menu product">
						<li>
							<a class="dropdown-item" href="{{path('category_product_index')}}">Gestion catégorie produits</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{path('product_index')}}">Gestion produits</a>
						</li>
					</ul>
				</div>
				</li>
					<li class="nav-item">
					<a class="nav-link" href="{{path('calendar_index')}}">
						Gestion Calendrier</a>
				</li>
			</ul>
			<div class="d-flex">
				<button onclick="window.location.href='{{path('event')}}';" type="button" class="btn btn-dark btn-evenement">Evènement</button>
				<div class="btn-group">
					<button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						Administrateur
					</button>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="{{path('logout')}}">Déconnexion</a>
						</li>
					</ul>
				</div>
			</div>
			{% elseif is_granted('ROLE_USER') -%}
				<li class="nav-item">
					<a class="nav-link" href="#">Commande</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Adresse</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Adhésion</a>
				</li>
			</ul>
			<div class="d-flex">
				<button onclick="window.location.href='{{path('event')}}';" type="button" class="btn btn-dark btn-evenement">Evénement</button>
				<div class="btn-group">
					<button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						 {% if app.user %}
						 	{{ app.user.username }}
						 {% endif %}
					</button>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="{{path('logout')}}">Déconnexion</a>
						</li>
					</ul>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</nav>

