<div class="nav2">
	<div class="nav-title">		
        <a clas="navbar-image" href="{{path('Home')}}"><img class="logo" src="{{asset('/build/images/Accueil/nouveau-logo.593931e0.png')}}" alt="Logo toocooleur"></a>
	</div>
</div>
<div id="navbar" class="nav">
    {% if is_granted('ROLE_ADMIN') %}
    <a class="onglets" href="#">Commande</a>
    <a href="{{path('Management_Users_index')}}">Gestion utilisateurs</a>
    <a class="onglets" href="#">Gestion adhésions</a>
    <div class="dropdown">
        <button class="dropbtn">Article</button>
        <div class="dropdown-content">
            <a href="{{path('article_index')}}">Gestion articles presse</a>
            <a href="{{path('category_article_index')}}">Gestion catégorie article presse</a>
        </div>
    </div>    
    <a class="onglets" href="{{path('country_index')}}">Gestion pays</a>
    <a class="onglets" href="{{path('gallery_index')}}">Gestion galerie</a>
    <div class="dropdown">
        <button class="dropbtn">Produits</button>
        <div class="dropdown-content">
            <a href="https://auth.helloasso.com/connexion">Gestion catégorie produit</a>
            <a href="https://auth.helloasso.com/connexion">Gestion produit</a>
        </div>
    </div>   
    <a class="onglets" href="{{path('calendar_index')}}">Gestion Calendrier</a>
    <div class="d-flex">
        <button onclick="window.location.href='{{path('event')}}';" type="button" class="btn btn-dark btn-evenement">Evénements</button>
        <div class="dropdown">
            <button class="dropbtn">Administrateur</button>
            <div class="dropdown-content">
                <a href="{{path('logout')}}">Déconnexion</a>
            </div>
        </div>       
    </div>
    {% elseif is_granted('ROLE_USER') -%}
    <a class="onglets" href="{{path('user-dashboard')}}">Adresse</a>
    <div class="d-flex">
        <button onclick="window.location.href='{{path('event')}}';" type="button" class="btn btn-dark btn-evenement">Evénements</button>
        <div class="dropdown">
            <button class="dropbtn">
                {% if app.user %}
                    {{ app.user.username }}
                {% endif %}
            </button>
            <div class="dropdown-content">
                <a href="{{path('logout')}}">Déconnexion</a>
            </div>
        </div>       
    </div>
    {% else %}
    <a class="onglets" href="{{path('Home')}}">Accueil</a>
        <div class="dropdown">
            <button class="dropbtn">Equipe</button>
            <div class="dropdown-content">
                <a href="{{path('team-office')}}">Bureau</a>
                <a href="{{path('team-artist')}}">Artistes</a>
                <a href="{{path('team-benewell')}}">Bénévoles</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">A propos</button>
            <div class="dropdown-content">
                <a href="{{path('about')}}">A propos</a>      
            </div>
        </div> 
    <div class="dropdown">
        <button class="dropbtn">Nous soutenir</button>
        <div class="dropdown-content">
            <a href="{{path('membership')}}">Adhesion</a>
            <a href="https://www.helloasso.com/associations/too-cooleur/formulaires/1/widget" target="_blank">Don</a>
        </div>
    </div>   
    <a class="onglets" href="{{path('register')}}">Inscription</a>
    <a class="onglets" href="{{path('gallery')}}">Galerie</a>
    <a class="onglets" href="{{path('article')}}">Articles</a>
    <a class="onglets" href="{{path('contact')}}">Contact</a>
    <a class="onglets" href="{{path('construction')}}">Boutique</a>
    <div class="dropdown">
        <button class="dropbtn">Partenaire</button>
        <div class="dropdown-content">
            <a href="{{path('cultural_associative_partner')}}">Associatif</a>
            <a href="{{path('financial_partner')}}">Financier</a>
            <a href="{{path('international_partner')}}">International</a>
            <a href="{{path('patner_institution')}}">Institution</a>
         </div>
    </div>    
    </div>
    <a class="icon" onclick="myfunction()">&#8801;</a>
    <div class="d-flex">
        <button onclick="window.location.href='{{path('event')}}';" type="button" class="btn btn-dark btn-evenement">Evénements</button>
        <button onclick="window.location.href='{{path('login')}}';" type="button" class="btn btn-dark">Connexion</button>
    </div>
{% endif %}


<script>
    function myfunction(){
        var x = document.getElementById("navbar");
        if(x.className === "nav"){
            x.className += " responsive";
        }else{
            x.className = "nav";
        }
    }
</script>


