{% extends 'base.html.twig' %}

{% block title %}Page Non trouvée{% endblock %}

{% block body %}
<main class="container">
    <img class="attention" src="{{asset('/build/images/Icones/Attention.7993a3a6.png')}}" alt="attention-construction">
    <br>
    <h1 class="centre-404">Page non trouvée</h1>
    <br>
    <p class="centre2-404">La page que vous cherchez n'as pas été trouvée</p>
</main>
{% endblock %}