{% extends 'base.html.twig' %}

{% block title %}Tous les articles-Toocooleur{% endblock %}

{% block body %}
<header id="header-hero">	
	<h1 class="main-title">Tous les articles</h1>
</header>
<main class="container">
    <ol class="breadcrumbs">
        <li>
            <a href="{{path('Home')}}">Accueil</a>

        </li>
        <li>Tous les articles</li>
    </ol>
        <div class="row">
        {% for article in articles %}
            <div class="col-md-4">
                <div class="card" style="width: 20rem;">
                    <i class="fas fa-shopping-cart icone"></i>
                    <div class="card-body">
                        <h5 class="card-title">{{article.titre}}</h5>
                        <p class="card-text sergent">{{ article.description|truncate(50)|raw}}</p>
                       <button class="btn btn-light lire-la-suite" onclick="window.location.href='{{ path('article_show_user', {'id': article.id}) }}';">Lire la suite</button>                        
                    </div>
                </div>
            </div>
        {% else %}
            <p>Pas d'article enregistré</p>
        {% endfor %}
        <div class="d-flex justify-content-center">
            {# {% do articles.setPageRange(2)%} #}
            {{ knp_pagination_render(articles,'@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
           
        </div>


</main>

{% endblock %}
