{% extends 'base.html.twig' %}

{% block title %}{{ article.Titre }}{% endblock %}

{% block body %}
<header id="hero">
        <h1>{{ article.Titre }}</h1>
</header>
<main class="container">
    <ol class="breadcrumbs">
        <li>
            <a href="{{path('Home')}}">Accueil</a>
        </li>
        <li>
            <a href="{{path('article')}}">Tous les articles</a>
        </li>
        <li>{{ article.Titre }}</li>
    </ol>
    <div class="card-horizontal">
        <header>
            <img class="thumbnail-article" src="{{vich_uploader_asset(article,'imageFile') }}" alt="{{article.titre}}"/>
        </header>
        <article class="content">
            <p>{{ article.description|raw }}</p>
            <p>{{ article.DateDePublication ? article.DateDePublication|date('Y-m-d') : '' }}</p>
        </article>
    </div>
</main>
{% endblock %}