<form method="post" action="{{ path('management_users_delete', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="text-danger mb-2 deleteBtn" title="Supprimer"><i class="far fa-trash-alt"></i></button>
</form>
