{% extends 'base.html.twig' %}

{% block title %}Edition utilisateur{% endblock %}

{% block body %}
<header id="hero">
    <h1>Accueil-Edition utilisateur</h1>
</header>
<main class="container">
    <ol class="breadcrumbs">
        <li>
            <a href="{{path('administrator-dashboard')}}">Accueil tableau de bord</a>
        </li>
        <li>
            <a href="{{path('Management_Users_index')}}">Accueil-Gestion utilisateurs</a>
        </li>
        <li>Accueil-Edition utilisateur</li>
    </ol>
    <a href="{{ path('Management_Users_index')}}" class="btn btn-primary">Retour à la liste</a>
    {{ include('administrator/users_management/management_users_form.html.twig', {'button_label': 'Mise à jour'}) }}
    {{ include('administrator/users_management/delete_form_management_users.html.twig') }}
</main>
{% endblock %}