{% extends 'base.html.twig' %}

{% block title %}Gestion utilisateurs{% endblock %}

{% import 'administrator/users_management/_macro_user_management.html.twig' as macro %}

{% block body %}
<header id="hero">
	<h1>Accueil-Gestion utilisateurs</h1>
</header>
<main class="container">
    <ol class="breadcrumbs">
        <li>
            <a href="{{path('administrator-dashboard')}}">Accueil tableau de bord</a>
        </li>
        <li>Accueil-Gestion utilisateurs</li>
    </ol>
    <a href="{{ path('user_management_new')}}" class="btn btn-light utilisateur">Ajout d'un utillisateur</a>
    <table class="table table-utilisateurs" data-toggle="table" data-pagination="true" data-page-size="5">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Nom utilisateur</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Code postal</th>
                <th>Complément d'adresse</th>
                <th>téléphone</th>
                <th>adhesion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td data-label="Nom">{{ user.nom }}</td>
                    <td data-label="Prénom">{{ user.prenom }}</td>
                    <td data-label="Nom utilisateur">{{ user.username }}</td>
                    <td data-label="Email">{{ user.email }}</td>
                    <td data-label="Adresse">{{ user.adresse }}</td>
                    <td data-label="Ville">{{ user.ville }}</td>
                    <td data-label="Code Postal">{{ user.codePostal }}</td>
                    <td data-label="Complément adresse">{{ user.complementAdresse }}</td>
                    <td data-label="Téléphone">{{ user.telephone }}</td>
                    <td data-label="Adhesion">{{ macro.adhesion(user.isAdhesion) }}</td>
                    <td data-label="Action" class="action">
                        <a href="{{ path('user_management_show', {'id': user.id}) }}" class="text-info mb-2 InfoBtn" title="Voir détail">
                            <i class="fas fa-eye"></i>
                        </a>
                        <a class="text-primary mb-2 editBtn" href="{{ path('user_management_edit', {'id': user.id}) }}">
                            <i class="fas fa-edit" title="Modifier"></i>
                        </a>
                        {{ include('administrator/users_management/delete_form_management_users.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="15">Pas d'utilisateur enregistré</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}



