{% extends 'base.html.twig' %}

{% block title %}Aperçu utilisateur{% endblock %}

{% block body %}
<header id="hero">
    <h1>Accueil-Aperçu utilisateur</h1>
</header>
<main class="container">
    <ol class="breadcrumbs">
        <li>
            <a href="{{path('administrator-dashboard')}}">Accueil tableau de bord</a>
        </li>
        <li>
            <a href="{{path('Management_Users_index')}}">Accueil-Gestion utilisateurs</a>
        </li>
        <li>Accueil-Aperçu utilisateur</li>
    </ol>
    <a href="{{ path('Management_Users_index')}}" class="btn btn-primary">Retour à la liste</a>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>Nom utilisateur</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ user.adresse }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ user.ville }}</td>
            </tr>
            <tr>
                <th>Code postal</th>
                <td>{{ user.codePostal }}</td>
            </tr>
            <tr>
                <th>Complément d'adresse</th>
                <td>{{ user.complementAdresse }}</td>
            </tr>
            <tr>
                <th>téléphone</th>
                <td>{{ user.telephone }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('user_management_edit', {'id': user.id}) }}">Edition</a>
    {{ include('administrator/users_management/delete_form_management_users.html.twig') }}
</main>
{% endblock %}